<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- Head, think of things that are more meta or format oriented -->
<head th:replace="src/main/resources/templates.fragments/headerfile :: head">
    <title>Gators</title>
</head>

<body>
<!-- Header of Page, includes Navigation -->
<div th:replace="src/main/resources/templates.fragments/header :: header"></div>

<!-- Body of Page, the details of this pages -->
<div class="screen" style="margin: 25px;">
    <h1><strong>Period 1 Gators</strong></h1>

    <p class="smalltext">Welcome to the Website of the Gators, our Developers Neil and Praveen are adding more stuff!
        <a href="https://github.com/aryan114/APCSA-The-Gators-Spring" class="address" target="_blank" rel="noopener noreferrer">Link to Github</a>



    <h3><strong>AP CSA Journals</strong></h3>
    <ol class="smalltext">
        <li><a href="https://docs.google.com/document/d/11P2fqfbp5GWF5NYZoL8CgCEbVxykWBszKnbGzh17aJo/edit?usp=sharing" target="_blank" rel="noopener noreferrer" class="address">Neil and Praveen</a></li>
        <li><a href="" target="_blank" rel="noopener noreferrer" class="address">Aryan and Pranav</a></li>
    </ol>
</div>

<!-- Footer of Page, includes things like contacts or copywrite -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>