<!-- This page is illustrative and contains ideas about HTML formatting -->

<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- Head, think of things that are more meta or format oriented -->
<head th:replace="src/main/resources/templates.fragments/headerfile :: head">
    <title>Gators</title>
</head>

<body>
<!-- Header of Page, includes Navigation -->
<div th:replace="src/main/resources/templates.fragments/header :: header"></div>

<!-- Body of Page, the details of this pages -->
<div class="screen" style="margin: 25px;">
    <h1><strong>Period 1 Gators</strong></h1>

    <p class="smalltext">Welcome to the Website of the Gators, our developers Aryan, Pranav, Neil and Praveen are adding more stuff!
        <a href="https://github.com/aryan114/APCSA-The-Gators-Spring" class="address" target="_blank" rel="noopener noreferrer">Link to Github</a>



    <h3><strong>AP CSA Journals</strong></h3>
    <ol class="smalltext">
        <li><a href="https://docs.google.com/document/d/11P2fqfbp5GWF5NYZoL8CgCEbVxykWBszKnbGzh17aJo/edit?usp=sharing" target="_blank" rel="noopener noreferrer" class="address">Neil and Praveen</a></li>
        <li><a href="https://docs.google.com/document/d/1_aBz9QKzEi9bShTU0loTAQi4kp2eueYbAbDN5l8Iw24/edit?usp=sharing" target="_blank" rel="noopener noreferrer" class="address">Aryan and Pranav</a></li>
    </ol>

    <h4><strong>Meet the Team</strong></h4>
    <ol class="smalltext">
        <li><a href="https://github.com/aryan114" target="_blank" rel="noopener noreferrer" class="address">Aryan</a></li>
        <li><a href="https://github.com/Neil-Sahai" target="_blank" rel="noopener noreferrer" class="address">Neil</a></li>
        <li><a href="https://github.com/PranavKambhampati" target="_blank" rel="noopener noreferrer" class="address">Pranav</a></li>
        <li><a href="https://github.com/PNatarajan123" target="_blank" rel="noopener noreferrer" class="address">Praveen</a></li>
    </ol>

    <h5><strong>Project Overview</strong></h5>
    <p class="smalltext">Collection of Advanced Mathematical Calculators
    <p class="smalltext">1. Simple derivative calculator
    <p class="smalltext">2. 4 Function Calculator
    <p class="smalltext">3. Basic Integral Calculator
    <p class="smalltext">4. Trig Calculator
    <p class="smalltext">5. Graphing Calculator - graphs functions
    <p class="smalltext">6. Mean, Median, Mode calculator
    <p class="smalltext"> 7. Area Calculator
    <p class="smalltext">8. Volume Calculator
    <p class="smalltext">9. Conversions
    <p class="smalltext">10. Logarithmic Calculator
    <p class="smalltext">11. Systems of Equations Calculator
</div>

<!-- Footer of Page, includes things like contacts or copywrite -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>